@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   background-color: rgb(255, 255, 255);


--black: #040404ff;
--dark-green: #03312eff;
--caribbean-current: #037171ff;
--persian-green: #009f93ff; 
--robin-egg-blue: #02c3bdff;
--timberwolf: #d7d9ceff; 
}








.theme-dark {
 --black: #d7d9ceff;
--dark-green: #03312eff;
--caribbean-current: #037171ff;
--persian-green: #009f93ff; 
--robin-egg-blue: #02c3bdff;
--timberwolf: #040404ff; 
}

.clip-left-wave {
  clip-path: path(
    "M 0 0 C 80 0, 150 60, 200 120 Q 250 180, 350 180 L 100% 180 L 100% 0 Z"
  );
}
