@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   background-color: rgb(255, 255, 255);


--black: #040404ff;
--dark-green: #03312eff;
--caribbean-current: #037171ff;
--persian-green: #009f93ff; 
--robin-egg-blue: #02c3bdff;
--timberwolf: #d7d9ceff; 
}

.theme-dark {
 --black: #d7d9ceff;
--dark-green: #03312eff;
--caribbean-current: #037171ff;
--persian-green: #009f93ff; 
--robin-egg-blue: #02c3bdff;
--timberwolf: #040404ff; 
}
.water-drop {
  width: 400px;
  height: 400px;
  background: radial-gradient(circle at 45% 50%, var(--persian-green), var(--caribbean-current));
  border-radius: 60% 60% 30% 40% / 50% 77% 65% 60%;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.15),
              0 0 30px rgba(0, 150, 255, 0.25);

  margin: 60px auto;
  position: relative;
  overflow: hidden;
}

/* حركة الطفو الخفيفة */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}




