@import "tailwindcss";
:root {

--black: #040404ff;
--dark-green: #03312eff;
--caribbean-current: #037171ff;
--persian-green: #009f93ff; 
--robin-egg-blue: #02c3bdff;
--timberwolf: #d7d9ceff; 
--bg-color:white;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
}

.theme-dark {
 --bg-color:black;
 --black: #d7d9ceff;
--dark-green: #02c3bdff;
--caribbean-current: #037171ff;
--persian-green: #009f93ff; 
--robin-egg-blue: #02c3bdff;
--timberwolf: #040404ff; 
}

html {
  transition: all 0.4s ease-in-out;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-animation {
  animation: floatUpDown 3s ease-in-out infinite;
}
.float-animationShap {
  animation: float 3s ease-in-out infinite;
}

html.theme-transition,
html.theme-transition * {
  transition: background-color 0.4s ease, color 0.4s ease,
              border-color 0.4s ease, box-shadow 0.4s ease;
}





